
# Local .terraform directory
**/.terraform/

# State files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Sensitive input files
*.tfvars
*.tfvars.json
terraform.tfvars

# Lock info
.terraform.tfstate.lock.info

# CLI config
.terraformrc
terraform.rc

# Terraform plan output (optional)
*.tfplan


# Certificates

certs/*.pfx

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/



# Installer logs
pip-log.txt
pip-delete-this-directory.txt

*.cover
*.py,cover
*.log


# Build artifacts

build/
dist/
downloads/
.eggs/
*.egg
*.egg-info/
.installed.cfg
lib/
lib64/
sdist/
wheels/
share/python-wheels/


